<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play som discgolf</title>
</head>


<body>
    <h1>Make a Time for som fun</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <h2>Available Time Slots</h2>
        <ul>
            {% for time_slot in time_slots %}
                <li>{{ time_slot.start_time }} - {{ time_slot.end_time }}</li>
            {% endfor %}
        </ul>
        <button type="submit">Submit</button>
    </form>
</body>
</html>