{% extends "booking/header.html" %}
{% block content %}

<div class="center-container">
    <div class="booking-info-box">
        <h2>Booked times</h2>
        {% for booking in user_bookings %}
            <div class="booking-item">
                <p>{{ booking.time_slot }}</p>
                <p>{{ booking.comments }}</p>
                <div class="action-buttons">
                    <a href="{% url 'edit_booking' booking.id %}" class="btn btn-primary">Change</a>
                    <a href="{% url 'cancel_booking' booking.id %}" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}